@import "./components/nprogress";
@import "./../components/_settings/settings";

html {
    scroll-behavior: smooth;
}

body {
	display: flex;
    flex-direction: column;
	margin: 0;
}

body > #__next {
	height: 100%;
}

.main-menu-link {
	text-decoration: none;
}

.ant-table-content {
	// overflow-x: auto;
}